<h2>About Us</h2>

<section>
    <div class="image-container">
        <%= image_tag "about-us-images/Revolving-Restaurant-Image.jpeg", alt: "Revolving restaurant in Vancouver", style: "width:1000px" %>
        <div class="overlay-text">Our aim is to help people find new restaurants in their area that fits their lifestyle.</div>
    </div>
    
    <div class="image-container">
        <%= image_tag "about-us-images/MetroVancouver.jpg", alt: "Map of Vancouver", style: "width:1000px" %>
        <div class="overlay-text">Search for restaurants by looking at location, price, and user reviews.</div>
    </div>
    
    <div class="image-container">
        <%= image_tag "about-us-images/Bread.jpg", alt: "Bread", style: "width:1000px" %>
        <div class="overlay-text">Additionally, users with dietary restrictions can be confident they will find restaurants to suit their needs.</div>
    </div>
    
    <div class="image-container">
        <%= image_tag "about-us-images/FoodAllergens.jpg", alt: "Food allergens signage", style: "width:1000px" %>
        <div class="overlay-text">Search for restaurants that have accomodations for allergies, gluten intolerance, vegans, and more!</div>
    </div>
    
    <div class="image-container">
        <%= image_tag "about-us-images/Italian-Food.jpg", alt: "Italian food", style: "width:1000px" %>
        <div class="overlay-text">Search for restaurants that serve your preferred cuisine.</div>
    </div>
    
    <div class="image-container">
        <%= image_tag "about-us-images/Vancouver-Restaurant.jpg", alt: "Restaurant in Vancouver", style: "width:1000px" %>
        <div class="overlay-text">Save your favourite restaurants so you never forget where you like to eat!</div>
    </div>
    
    <div class="image-container">
        <%= image_tag "about-us-images/Reviews.jpg", alt: "Five stars", style: "width:1000px" %>
        <div class="overlay-text">Post reviews to help others find restaurants they might enjoy.</div>
    </div>
</section>


<p> </p>

<section>
    <div class="button-container">
        <a href="/sign-up" class="sign-up-now">Sign up now!</a>
    </div>

</section>

</body>
</html>
