<%= form_with model: restaurant do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :owner %><br>
        <%= form.text_field :owner %>
    </div>

    <div>
        <%= form.label :address %><br>
        <%= form.text_field :address %>
    </div>

    <div>
        <%= form.label :hours %><br>
        <%= form.text_field :hours %>
    </div>

    <div>
        <%= form.label :rating %><br>
        <%= form.number_field :rating, in: 0.0..5.0, step: 0.1 %>
    </div>

    <div>
        <%= form.label :ratingsnum %><br>
        <%= form.number_field :ratingsnum, step: 1 %>
    </div>

    <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :cuisine %><br>
        <%= form.text_field :cuisine %>
    </div>

    <div>
        <%= form.label :image %><br>
        <%= form.text_field :image %>
    </div>

    <div>
        <%= form.label :tags %><br>
        <%= form.text_field :tags %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>