<%= javascript_include_tag "dropdown.js", defer: true %>
<%= javascript_include_tag "switch-views.js", defer: true %>

<% @current_user = User.find_by_id(session[:user_id]) %>

<div class="search-options-bar">
    <!--- <input type="text" placeholder="Search..."> -->
    <%= form_with url: "/search", method: :get do |form| %>
        <%= form.text_field :search %>
        <!--- <%= form.submit "Search" %> -->
    <% end %>

    <div class="dropdown">
        <button onclick="OpenFilters()" class="filters-button">Filters</button>
        <div id="filters" class="filters-content">
            <p>test1</p>
            <p>test2</p>
            <p>test3</p>
        </div>
    </div>

    <div class="dropdown">
        <button onclick="OpenSortBy()" class="sorting-button">Sort By</button>
        <div id="sorting" class="sorting-methods">
            <p>test1</p>
            <p>test2</p>
            <p>test3</P>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="sidebar">
        <h2 class="results">Results</h2>

        <!--- somehow use embedded ruby for loop to display returned restaurants using the sidebar-element partial-->
        <% @restaurants.each do |restaurant| %>
            <button onclick="SwitchRestaurantView(<%= restaurant.id %>)" class="sidebar-element">
                <p class="restaurant-name"><%= restaurant.name %></p>

                <div class="address-ratings">
                    <p class = "address"><%= restaurant.address %></p>
                    <p class = "ratings"> <%= restaurant.rating%> </p>
                </div>

                <div class="tags-cuisine">
                    <ul class="tags">
                        <li class="list-item">peanut free</li>
                        <li class="list-item">, </li>
                        <li class="list-item">vegan</li>
                    </ul>

                    <p class="cuisine">Cuisine: <%= restaurant.cuisine%></p>
                </div>
            </button>
        <% end %>
        
    </div>

    <div class="large-view">
        <!--- these two divs should completely overlap, and use javascript to show or hide one depending on whether a restaurant is selected or not -->
        <% @restaurants.each do |restaurant| %>
            <div id="<%= restaurant.id %>"class="restaurant-view">
                <!--- use this one for the restaurant page -->
                <h1 class="view-name"><%= restaurant.name %></h1>

                <div class="image-gallery">
                    <p>Images go Here</p>
                </div>

                <div class="info-bar">
                    <p class="view-address"><%= restaurant.address %></p>
                    <p class="view-rating">Rating: <%= restaurant.rating %></p>
                    <P class="view-owner">Owner: <%= restaurant.owner %></p>
                    <p class="view-cuisine">Cuisine: <%= restaurant.cuisine %></p><br>
                    <p class="view-hours">Hours: <%= restaurant.hours %></p>
                </div>

                <div class="description-div">
                    <P class="description"><%= restaurant.description %></p>
                </div>
            </div>
        <% end %>

        <div id="map" class="map-view show">
            <!--- use this one for the map view page -->
            <%= js_map [{latitude: 37.7829, longitude: -122.4190}] %>
        </div>
    </div>
</div>
